@media (max-width: 768px) {

}

.voicesearch {
    background-color: white;
    border: none;
    margin-left: 10px;
    border-radius: 35px;
}

.voicesearch:hover {
    border-color: #333;
    border: solid;
    margin-left: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    font-weight: bold;
}
.discription{
    font-size: small;
}
.logoimg{
    margin-left: 8px;
    margin-right: 15px;
    height: 45px;
}

nav {
    background-color: rgb(222, 157, 6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px
    height : 55px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 20px;
}

li {
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
    position: relative;
}


a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

a:hover {
    color: #ff5733;
}

a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.blocks{
    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    background-color: #ffffff;
    border: 2px solid #333;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 5px;
    width: 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.block h2 {
    color: #333;
    font-size: 10px;
    margin-bottom: 5px;
}


.block .number {
    color: #ff5733;
    font-size: 18px;
    font-weight: bold;
}

.input {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

.search-button {
    background-color: rgb(222, 157, 6);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.inputelement{
    font-size: 16px;
    padding: 8px 20px;
    margin-left: 5px;
}

.search-button:hover {
    background-color: orange;
    transform: scale(1.05);
}

.blocks :hover{
    background-color: rgb(222, 157, 6);
    transform: scale(1.05);  
}

.container {
    width: 100%;
    height: 100vh;
    background: #eeedff;
    position: relative;
    overflow: hidden;
}

.menu-icon {
    width: 35px;
    position: absolute;
    top: 5%;
    right: 10%;
    cursor: pointer;
}

.menu-box {
    
    background: black;
    position: absolute;
    top: 17%;
    left: 10%;
    padding: 50px 100px;
    transition: top 1s;
}

.menu-links {
    text-decoration: none;
    color: #fff;
    display: block;
    width: fit-content;
    margin: 30px 0;
    font-size: 26px;
}
.options{
    margin-left: 15px;
    margin-bottom: 15px;
}

.menu-links a ::after {
    content: '';
    width: 30px;
    height: 5px;
    background: #f92537;
    display: none;
    margin-left: 10px;
    margin-bottom: 5px;
}

.menu-links a : hover {
    font-weight : 500;   
}

.menu-links a:hover ::after {
    display: inline-block;
}

.js-menuitems {
    z-index: 10;
    position: relative;
    width: 160px;
    height: 100%;
    top: 0px;
    right: 0px;
}


.category {
    border: 1px solid #ccc;
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.category:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.category img {
    max-width: 100%;
    height: auto;
}

.category-title {
    font-size: 18px;
    margin-top: 10px;
}

.footer {
    background-color: orange;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 30px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}

.video-testimonials {
    background-color: rgb(222, 157, 6) ;
    height: 25px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    font-weight: 300;
    align-items: center;
}



#video-container {
    height: 300px;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.video-slide {
    display: none;
    width: 100%;
}